<!-- <h3>Top Heroes</h3>
<div class="grid grid-pad">
  <div *ngFor="let klus of heroes" (click)="gotoDetail(hero)" class="col-1-2">
    <div class="module hero">
      <h4>{{klus.name}}</h4>
    </div>
  </div>
</div> -->

<div class="outerbox">

<h4>Hoe werken we</h4>
  <ul>
    <li>Inspectie ter plaatse</li>
    <ul>
      <li>Inschatten risico's en bereikbaarheid</li>
      <li>Bepalen benodigd materiaal en werkkracht</li>
    </ul>
    <li>Opstellen offerte op basis van de inspectie</li>
    <ul>
      <li>Werkuren</li>
      <li>Aantal bomen en hun plaatsing (risico's)</li>
      <li>Benodigd materiaal: hoogtewerken, hakselaar, grondfrees</li>
      <li>Benodigde werkkracht: met of zonder grondwerker</li>
    </ul>
    <li>Na akkoord inplannen van de werkzaamheden</li>
  </ul>
</div>

<my-footer></my-footer>

<!--
<hero-search></hero-search>
-->
