<!-- <h3>Top Heroes</h3>
<div class="grid grid-pad">
  <div *ngFor="let klus of heroes" (click)="gotoDetail(hero)" class="col-1-2">
    <div class="module hero">
      <h4>{{klus.name}}</h4>
    </div>
  </div>
</div> -->

<div class="outerbox">



<h4>Waarom boomverzorging</h4>


  <ul>
    <li>Liefde voor de natuur</li>
    <li>Passie voor werken in de buitenlucht</li>
    <li>Voldoening bij het verwijderen van risico-volle of dode bomen</li>
  </ul>
</div>

<my-footer></my-footer>

<!--
<hero-search></hero-search>
-->
