<!-- <h3>Top Heroes</h3>
<div class="grid grid-pad">
  <div *ngFor="let klus of heroes" (click)="gotoDetail(hero)" class="col-1-2">
    <div class="module hero">
      <h4>{{klus.name}}</h4>
    </div>
  </div>
</div> -->

<div class="outerbox">
<h4>Jos Spreuwers</h4>
    <img src="Pa_bok_arm.jpg" alt="Ludieke foto Jos" title="Ludieke foto Jos" />
<h5>Opleiding</h5>
  <ul>
    <li>Kettingzaag: specialisatie cursus</li>
    <li>Syntra: 2 jarige opleiding tot boomverzorger</li>
    <li>Werkt samen met lesgever van Syntra + jurerend lid</li>
  </ul>
  <h5>Achtergrond</h5>
    <ul>
      <li>Afkomstig van de 'boerenbuiten'</li>
      <li>Hoofdberoep: leerkracht wiskunde 1ste graad</li>
      <li>10 jaar ervaring in boomverzorging</li>
    </ul>

<h4>Matthias Spreuwers</h4>
    <img src="Matthias.jpg" alt="Ludieke foto Matthias" title="Ludieke foto Matthias" />
  <h5>Opleiding</h5>
      <ul>
        <li>In opleiding bij Jos Spreuwers</li>
      </ul>
  <h5>Achtergrond</h5>
        <ul>
          <li>Afkomstig van de zoon van de 'boerenbuiten'</li>
          <li>Hoofdberoep: ingenieur</li>
          <li>10 jaar ervaring in grondwerk bij boomverzorging</li>
        </ul>
</div>
        <my-footer></my-footer>




<!--
<hero-search></hero-search>
-->
